<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVFlxfZxrC9HqjCv1w5G6t0vZ1ATAkQR0</string>
	<key>GCM_SENDER_ID</key>
	<string>125587613192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoappp</string>
	<key>PROJECT_ID</key>
	<string>todoappfirebase-53f88</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappfirebase-53f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125587613192:ios:c43f6a24c20bc83d68d3bd</string>
</dict>
</plist>